<!-- views/filmsindex.ejs -->
<%- include('partials/head.ejs') %>
<!-- Div Container -->
        
        <div class="content-wrapper">
            <main>
                Main
                <div class="article-main">
                    <div class="article-head">
                        <h2>Filmes </h2>
                    </div>
                    <div class="article-body">
                        <div class="card-container" id="body-artigo">
                            <!-- Adicionar o EJS de iteração-->
                            <% for (let i = 0; i < result.length; i++) { %>
                            <div class="card">
                                <div class="card-content">
                                    <% const baseUrl = valor[1] + '/'; %>
                                    <a href="<%= baseUrl + result[i].imdb_cod %>">
                                        <img class="img-thumbnail" src="<%= result[i].cover %>">
                                    </a>
                                    <div class="orange-field"><%= result[i].title %></div>
                                </div>
                            </div>
                            <!-- FIM Adicionar o EJS de iteração-->
                            <% } %>
                          </div>
                    </div>
                </div>
            </main>
            
<!-- views/adidebidyend.ejs -->
<%- include('partials/adidebidyend.ejs') %>
<!-- Div Container -->