<!-- views/filmsindex.ejs -->
<%- include('partials/head.ejs') %>
<!-- Div Container -->
        
        <div class="content-wrapper">
            <main>
                Main
                <div class="article-main">
                    <div class="article-head">
                        <h2>Cartoons </h2>
                    </div>
                    <div class="article-body">
                        <div class="card-container" id="body-artigo">
                            <!-- Adicionar o EJS de iteração-->
                            <% for (let i = 0; i < resulFilms.length; i++) { %>
                            <div class="card">
                                <div class="card-content">
                                    <% const baseUrl = valor[0] + '/'; %>
                                    <a href="<%=  baseUrl + resulFilms[i].id %>">
                                        <img class="img-thumbnail" src="<%= resulFilms[i].cover %>">
                                    </a>
                                    <div class="orange-field"><%= resulFilms[i].title %></div>
                                </div>
                            </div>
                            <!-- FIM Adicionar o EJS de iteração-->
                            <% } %>
                          </div>
                    </div>

                    <div class="article-head">
                        <h2>Animes </h2>
                    </div>
                    <div class="article-body">
                        <div class="card-container" id="body-artigo">
                            <!-- Adicionar o EJS de iteração-->
                            <% for (let i = 0; i < resultSeries.length; i++) { %>
                            <div class="card">
                                <div class="card-content">
                                    <% const baseUrl = valor[0] + '/'; %>
                                    <a href="<%=  baseUrl + resultSeries[i].id %>">
                                        <img class="img-thumbnail" src="<%= resultSeries[i].cover %>">
                                    </a>
                                    <div class="orange-field"><%= resultSeries[i].title %></div>
                                </div>
                            </div>
                            <!-- FIM Adicionar o EJS de iteração-->
                            <% } %>
                          </div>
                    </div>
                </div>
            </main>
            <aside>Aside
                <div class="aside-main">
                    
                <ul>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                    <li>Link Home</li>
                </ul>
                </div>
            </aside>
        </div>
        
        <footer>Footer
            <script src="script/script.js"></script>
        </footer>
    </div>
</body>
</html>
