<!-- views/filmsindex.ejs -->
<%- include('partials/head.ejs') %>
<!-- Div Container -->
        
        <div class="content-wrapper">
            <main>
                Main
                <div class="article-main">
                    <div class="article-head">
                        <h2>Series:  </h2>
                    </div>
                    <div class="article-body">
                        <div class="poster-ep" id="body-artigo">
                            <div class="info-ep">
                                <div class="poster-card">
                                    <img src="<%= coverPath %>" alt="">
                                </div>
                                <div class="descr-serie">
                                    <ul>
                                        <li>Ator:</li>
                                        <li>Studio:</li>
                                        <li>Descr</li>
                                        <li>tags</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Adicionar o EJS de iteração-->
                                    <div class="list-ep">
                                        <!-- Adicionar o EJS de iteração-->
                                        <% let i = 0; %>
                                        <% while (i < resulFilms.length) { %>
                                            <% let currentSeason = resulFilms[i].Season; %>
                                            <h3>Season <%= currentSeason %></h3> <!-- Título da temporada -->
                                            <ul> <!-- Inicia a lista de episódios da temporada -->
                                            <% while (i < resulFilms.length && resulFilms[i].Season === currentSeason) { %>
                                                <a href="#"><li><%= resulFilms[i].title %></li></a> <!-- Título do episódio -->
                                                <% i++; %>
                                            <% } %>
                                            </ul> <!-- Fecha a lista de episódios da temporada -->
                                        <% } %>
                                        <!-- FIM Adicionar o EJS de iteração-->
                                    </div>
                    </div>
                </div>
            </main>

<!-- views/adidebidyend.ejs -->
<%- include('partials/adidebidyend.ejs') %>
<!-- Div Container -->